.quote {
  font-size: 25px;
  margin-left: 12%;
  text-align: center;
  text-indent: 50px;
  width: 75%;
};

h1 {
  font-size: 50px;
  margin-left: 12%;
  text-align: center;
  text-indent: 50px;
  width: 75%;
}

p {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin-left: 12%;
  text-align: center;
  text-indent: 50px;
  width: 75%;
}
